<h1>商品新規登録</h1>

<h3>商品画像</h3>
<%#= form_with model: @, local:true do |f| %>
          <%#= f.attachment_field :image, class: "w-100" %>

<h4>商品名</h4>
<h4>商品説明</h4>
<h4>ジャンル</h4>
<h4>税込価格</h4>
<h4>販売ステータス</h4>