<!--管理者トップページ-->
<span style="color:#000000; background-color:#d3d3d3;">注文履歴一覧</span>
<table class="table">
  <thead>
    <tr class="table-warning">
      <th scope="col">購入日時</th>
      <th scope="col">購入者</th>
      <th scope="col">注文個数</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.created_at, "/admin/orders/#{order.id}" %></td>
      <td><%= order.customer.full_name %></td>
      <td>
        <% @order_items.each do |item| %>
        <%= order_item.amount %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>