<br>
<div class="text-center">
<p>ようこそ、ながのCAKEへ！<p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>
</div>

<h5>新着商品</h5>
<div class="container">

  <div class="row">
    <div class="col-lg-3" style="background-color: orange;">
      <h6>画像</h>
    </div>

    <div class="col-lg-3" style="background-color: orange;">
      <h6>画像</h>
    </div>

    <div class="col-lg-3" style="background-color: orange;">
      <h6>画像</h>
    </div>

    <div class="col-lg-3" style="background-color: orange;">
      <h6>画像</h>
    </div>
  </div>
</div>


<br>
<div class="text-right">
<%= link_to "全ての商品を見る>", items_path %>
</div>


